* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #000;
  
     display: flex;
    align-items: center; justify-content: center;
}
main{
    display: flex;
    align-items: center; justify-content: center;
}
.card{
    /* height: 300px; */
    width: 500px;
    background: white;
   border-radius: 10px;
    padding:30px;
}
.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}
.card p span{
    font-weight: 600;
    color: royalblue;
}
.outer{
    height: 20px;
    width: 100%;
    background: gainsboro;
    border-radius: 50px;
}

.inner{
    height: 100%;
    width: 0%;
    background: green;
    border-radius: 50px;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:20px ;
}
.bottom h2{
    font-size: 60px;
}

.bottom button{
        padding: 12px 25px;
        background: green;
        color: white;
        border-radius: 5px;
        font-size: 18px;
        border: 0;
        font-weight: 600;
        cursor: pointer;
}
.bottom button:active{
    scale: 0.95;
}




@media (max-width:500px) {
    .card{
        width: 400px;
        
    }
}